#title{
    color: rgb(110, 19, 146);
    text-align: center;
}

#about-title, #edu-title, #skill-title, #hobby-title, #goal-title, #contact-title {
    color: rgb(25, 71, 197);
}

table {
    border: 1px solid blue;
    border-collapse: collapse;
    text-align: left;
}
td{
    border: 1px solid blue;
    padding: 4px;
}
#dip, #olevel, #alevel {
    color: rgb(131, 18, 18);
    text-align: left;
}
